.DS_store
.idea
*/.DS_store
__pycache__
*/__pycache__/
*/.ipynb_checkpoints/

#特殊文件
*.report
*.png
*-xdl

#几个不改动或无意义改动文件
Qwen/
pretrain/
splits/
log_err/
assets/
!assets/
!assets/demo.png
!assets/pipeline.png
vkitti/
flux/
compare_result/

#推理用数据集
infer/data_split/
infer/nyu_results_test/
infer/nyudepth/
infer/eval_results/
infer/diode/
infer/eth3d/
infer/kitti/
infer/scannet/
infer/dsine_eval/
